<!DOCTYPE html>
<html>
  <head>

    <title>Multi-Path Story Writer</title>

  </head>
  <body>

    <form action="/stories/new" method="POST">
      <input type="submit" value="New Story">
    </form>

  </body>
</html>
